
html{
  font-size: 100%;
  font-family: "mainFont";
position:relative;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
}

iframe{
  width: 1px;
  min-width: 100%;
  *width: 100%;
}

.thickLine{
  border-radius: 10px;
  border: 2px solid white;
}

.rainbow{
background: linear-gradient(to right,red,green,blue);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}

.hook{
  background-image: url("../images/signatureWM.png");
  background-repeat: no-repeat;
  background-position: center;
  color: white;
  filter:invert(100%);
  -webkit-filter:invert(100%);
  text-align: center;
  height: 400px;
}

.hook p{
  border:none;
  filter:invert(100%);
  -webkit-filter:invert(100%);
  padding: 0px;
  margin-right: 1%;
}
.hook h2{
  border:none;
  margin-right: 6%;
  filter:invert(100%);
  -webkit-filter:invert(100%);
  padding: 0px;
}

.CTA2 {
  border-radius: 4px;
  background-color: rgba(0,0,0,0);
  border: 1px solid white;
  color: #FFFFFF;
  text-align: center;
  font-family: "mainFont";
  font-size: 18px;
  padding: 14px;
  margin-left:33vw;
  width: 30%;
  transition: all 1s;
  cursor: pointer;

  opacity: 0.8;
  transition: 1s;
  font-weight: bolder;
}

.CTA2 span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 1s;

}

.CTA2 span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -30px;
  transition: 1s;

}

.CTA2:hover{
  background-color: rgba(250, 00, 25,0.6);
  border: none;
  -webkit-transform: scaleX(1.2);
  -ms-transform:scaleX(1.2);
  transform: scaleX(1.2);

}

.CTA2:hover span {
  padding-right: 25px;
  -webkit-transform: scaleX(0.8333);
  -ms-transform:scaleX(0.8333);
  transform: scaleX(0.8333);

}

.CTA2:hover span:after {
  opacity: 1;
  right: 0;
}

@font-face {
  font-family: "mainFont";
  src:url("../fonts/Roboto-LightItalic.ttf");
  /*Freeware*/
}

@font-face {
  font-family: "mainBold";
  src:url("../fonts/Roboto-BoldItalic.ttf");
}

@font-face {
  font-family: "secFont";
  src:url("../fonts/Roboto-ThinItalic.ttf");
}


@font-face {
  /*media icons*/
  font-family: "iconFont";
  src:url("../fonts/iconFont/PWHandySocialIcons.ttf");
}

header {
    width: 100%;
    height: 150px;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    background-image: linear-gradient(to top,rgba(255,255,255,0),rgba(255,255,255,0.3),rgba(255,255,255,1));
    will-change: height;
    -webkit-transition: all 0.25s;
    -moz-transition: all 0.25s;
    -ms-transition: all 0.25s;
    -o-transition: all 0.25s;
    transition: all 0.25s;
}
header h1#logo {
  font-size:5vh;
    margin-left: 35px;
    display: inline-block;
    height: 150px;
    line-height: 150px;
    float: left;
    font-family: secFont;
    color: white;
    font-weight: 500;

}

header h1#logo:hover {
    color: darkorange;
    -webkit-transition: color 1.5s ease;
    -moz-transition: color 1.5s ease;
    transition: color 1.5s ease;
}
header nav {
    display: inline-block;
    float: right;
    color: #0683c9;

}
header nav a {
  margin-right: 25px;
    line-height: 150px;
    color: rgba(255,255,255,0.4);
    font-weight: 600;
    font-size: 20px;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}
header nav a:hover {
    color: darkorange;
    -webkit-transition: color 0.5s ease;
    -moz-transition: color 0.5s ease;
    transition: color 0.5s ease;

}

header img#logo{
  opacity: 1;
  border:0px;
  padding-top:15px;
  padding-bottom:40px;
  width:250px;
  height:150px;
  will-change: opacity;
  -webkit-transition: all 0.25s;
  -moz-transition: all 0.25s;
  -ms-transition: all 0.25s;
  -o-transition: all 0.25s;
  transition: all 0.25s;

}

header img#logosmol{
  display: none;
}

header.smaller {
    height: 40px;

  }
header.smaller h1#logo {
    width: 100px;
    height: 20px;
    line-height: 20px;
    font-size: 30px;

}
header.smaller nav a {
  font-weight: bolder;
  margin-right: 10px;
    line-height: 40px;
    font-size: 14px;
    color: black;
}
header.smaller img#logo{
  opacity: 0;
  width: 200px;
  height: 120px;
  padding-top:15px;
  padding-bottom:40px;
  left: 50%;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

h2, h3, h4{
  padding-left: 100px !important;
}

body p{
  padding-left: 150px;
  padding-right: 150px;
}

@media all and (max-width: 940px) {
  .CTA2{
    margin-left:50%;
    width: 40%;
  }
  .hook{
    padding-left: 20px;
    padding-right: 0px;
  }
    body p{
      padding-left: 20px;
      padding-right: 0px;
    }

    h2, h3, h4{
      padding-left: 0px !important;
    }

    header h1#logo {
        margin-left: 12px;
        display: block;
        float: none;
        height: 100px;
        line-height: 100px;
        text-align: center;
    }
    header nav {
        display: block;
        float: none;
        height: 50px;
        text-align: center;
        margin: 0 auto;
    }
    header nav a {
      margin-right: 10px;
        line-height: 50px;
        font-size: 15px;
    }
    header.smaller {
        height: 100px;
    }
    header.smaller h1#logo {
      font-weight: bolder;
        height: 30px;
        line-height: 10px;
        font-size: 30px;
    }
    header.smaller nav {
      margin-right: 10px;
        height: -50px;
    }
    header.smaller nav a {
      margin-right: 10px;
        line-height: 0px;
        font-weight: bolder;
    }
}



body {
  color: #000000;
  margin: 0;
  height: 100%;
  width: 100%;
  font-weight: 500;
  font-style: bold;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  overflow: auto;
}

@keyframes colorchange
    {
      0%   {background: red;}
      50%  {background: blue;}
      75%  {background: green;}
      100% {background: red;}
    }

    @-webkit-keyframes colorchange /* Safari and Chrome - necessary duplicate */
    {
      0%   {background: red;}
      50%  {background: blue;}
      75%  {background: green;}
      100% {background: red;}
    }

html, body {
  position: relative;
  overflow-x: hidden;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

  audio,
  canvas,
  progress,
  video {
    display: inline-block;
    /* 1 */
    vertical-align: baseline;
    /* 2 */ }

    abbr[title] {
      border-bottom: 1px dotted; }



    dfn {
      font-style: italic; }

    mark {
      background: #ff0;
      color: #000; }

    small {
      font-size: 80%; }

    sub,
    sup {
      font-size: 75%;
      line-height: 0;
      position: relative;
      vertical-align: baseline; }

    sup {
      top: -0.5em; }

    sub {
      bottom: -0.25em; }



a {
  background-color: transparent;
  outline: 0;
  text-decoration: none;
}


a:active,
a:hover {
  outline: 0;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

h1, h2, h3, h4, h5, h6, ul, ol, dl, li, dd, small {
  margin: 0;
  padding: 0; }


/*
#e35555 red
#eddd2d yellow
*/
    a {
      font-weight: 900;
  color: rgba(11, 236, 228, 0.88);
  -webkit-transition: color 0.7s ease;
  -moz-transition: color 0.7s ease;
  transition: color 0.7s ease; }
  a:hover {
    color: #ec5b5b;
    /*color: #ec5b5b; */
    -webkit-transition: color 0.7s ease;
    -moz-transition: color 0.7s ease;
    transition: color 0.7s ease; }

    *, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

html {
  font-size: 100%;
  width: 100%;
  -webkit-text-size-adjust: 100%;
  background-color: #0c1423;
  /* #0c1423*/
}

body {
overflow: auto;
  -webkit-animation: fade-in ease-in-out 1.4s;
  -moz-animation: fade-in ease-in-out 1.4s;
  animation: fade-in ease-in-out 1.4s; }


  .sect-banner {
    display: table;
    width: 100%;
    margin: 0 ;
    text-align:
    height: 100vh;
    color: rgba(255,255,255, 1);
  }
/* Animation stuff idk from Stephen Scaff */
  .sect-banner:after
  {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  animation: colorchange 60s infinite;
  -webkit-animation: colorchange 60s infinite;
  /* 41,63,105,0.6*/
  z-index: 0; }
.sect-banner .v-center {
  padding-top: 150px;
  position: relative;
  z-index: 2; }
.sect-banner .v-center {
  padding-top: 150px;
  display: table-cell;
  vertical-align: middle;
  position: relative;
  z-index: 4;
  padding: 0 5%;
}
  .sect-banner .v-center h1 {
    font-size: 150%;
    -webkit-animation: fade-in ease-in-out 2s 0.5s both;
    -moz-animation: fade-in ease-in-out 2s 0.5s both;
    animation: fade-in ease-in-out 2s 0.5s both;

  }
  .sect-banner .v-center p {

padding-top: 100px;
    line-height: 2;
    font-size: 2.5vh;
    -webkit-animation: fade-in ease-in-out 2s 1s both;
    -moz-animation: fade-in ease-in-out 2s 1s both;
    animation: fade-in ease-in-out 2s 1s both; }



@-webkit-keyframes fade-in {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@-moz-keyframes fade-in {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@keyframes fade-in {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@-webkit-keyframes fade-out {
    33% {
      opacity: 1; }
    66% {
      opacity: 0; } }
  @-moz-keyframes fade-out {
    33% {
      opacity: 1; }
    66% {
      opacity: 0; } }
  @keyframes fade-out {
    33% {
      opacity: 1; }
    66% {
      opacity: 0; } }
